.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* .owl-carousel .owl-nav .disabled {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.owl-nav>div:after {
    font-size: 22px;
    line-height: 22px;
}

@media (max-width: 576px){
body .owl-nav>div {
    display: block;
}
} */

#area img {
    width:100px;
    height:100px;
    opacity: 0.5;
    position: absolute;
}

#background {
    width:100px;
    height:auto;
    left: 170px;
    top: 400px;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    /* transition: opacity .4s ease */
    transition: opacity 1s ease-in-out;
  }