.owl-carousel .owl-nav>div {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

/* .owl-nav>div:after {
    font-size: 22px;
    line-height: 22px;
}

@media (max-width: 576px){
body .owl-nav>div {
    display: block;
}
} */